@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300i,400,700i);

.home-top {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: url(../images/home/home_top.jpg) no-repeat;
  background-size: cover;
  .home-top-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 198, 255, .8), rgba(0, 114, 255, .8));
    .home-top-title {
      padding-top: 35vh;
      color: $bWhite;
      text-align: center;
      h1 {
        font-size: 104px;
        letter-spacing: 8px;
        line-height: 1.0em;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-style: italic;
      }
      .home-top-sub {
        font-size: 32px;
        line-height: 1.8em;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-style: italic;
      }
      .home-top-btn {
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        width: 160px;
        height: 45px;
        line-height: 45px;
        border: 2px solid $bWhite;
        border-radius: 40px;
        margin: 40px auto 0;
        transition: all 1s ease-out;
        a {
          color: $bWhite;
          text-decoration: none;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .home-top-arrow {
      position: absolute;
      bottom: 80px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      transform: translate(0, -50%);
      text-decoration: none;
      span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(-45deg);
        animation: fadeArrow 2s infinite;
        box-sizing: border-box;
      }
    }
  }
}

.home-main {
  width: 100vw;
  position: relative;
  top: 100vh;
  background: $bWhite;
  .home-works {
    background: $bWhite;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 120px;
    overflow: hidden;
    .work-box {
      width: 48%;
      height: 400px;
      margin-top: 48px;
      float: left;
      position: relative;
      text-align: center;
      color: $bWhite;
      transition: opacity .35s ease-out;
      * {
        transition: all 0.6s ease-out;
      }
      .work-box-explain {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        h2, p {
          margin: 0;
          position: absolute;
          width: 100%;
          left: 0;
          opacity: 0;
        }
        h2 {
          color: $bWhite;
          font-size: 32px;
          display: inline-block;
          bottom: 53%;
          transform: translate3d(0%, -100%, 0);
        }
        p {
          color: $bWhite;
          font-size: 20px;
          top: 50%;
          transform: translate3d(0%, 100%, 0);
        }
      }
      &:nth-child(odd) {
        margin-right: 4%;
      }
    }
    .work-box:hover {
      .work-box-explain {
        background: rgba(0, 0 , 0, 0.5);
        h2 {
          transform: translate3d(0%, 0%, 0);
          opacity: 1;
        }
        p {
          transform: translate3d(0%, 0%, 0);
          opacity: 1;
        }
      }
    }
    .work-tokyodtm {
      background: url(../images/home/tokyodtm_top.jpg) no-repeat;
      background-size: cover;
    }
  }
}


.top-footer {
  position: relative;
  top: 100vh;
  background: $bWhite;
}



@keyframes fadeArrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
