@charset "utf-8";

/*------- base color ---------*/
$bBlue:#5d86ff;
$bSlyblue:#78b9ff;
$bGray:#EAEAE0;
$bBlack:#444444;
$bWhite:#ffffff;


/*------- common ---------*/
html {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Meiryo, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: $bBlack;
}

// .small {
//   font-size: 12px;
// }
//
// .large {
//   font-size: 20px;
// }

.container {
  width: 640px;
  margin: 0 auto;
}

/*------- txt color ----------------*/
.blue{color: $bBlue;}
.skyblue{color: $bSlyblue;}
.gray{color: $bGray;}
.black{color: $bBlack;}
.white{color: $bWhite;}
