@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300i,400,700i);


/*------- base color ---------*/
$bBlue:#5d86ff;
$bSlyblue:#78b9ff;
$bGray:#EAEAE0;
$bBlack:#444444;
$bWhite:#ffffff;


/*------- common ---------*/
html {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Meiryo, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: $bBlack;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.emphasis {
  background: linear-gradient(white 50%, yellow);
}

.notes {
  font-size: 12px;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding-top: 50px;
  ul {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin: 0 auto;
    li {
      font-size: 32px;
      a {
        color: $bBlack;
        transition: all .5s ease-out;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  p {
    margin-top: 24px;
    font-size: 8px;
  }
}

/*------- hamberger menu ---------*/
.hamburger-menu {
  position: fixed;
  top: 5%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  &:hover {
    opacity: .7;
  }
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $bWhite;
    }
    .middle {
      opacity: 0;
      background: $bWhite;
    }
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $bWhite;
    }
  }
  span {
    background: $bWhite;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
    &:nth-of-type(2) {
      top: 11px;
    }
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: linear-gradient(to left, rgba(0, 198, 255, 1), rgba(0, 114, 255, 1));
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .3s;
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      line-height: 50px;
      a {
        display: block;
        position: relative;
        color: $bWhite;
        text-decoration: none;
        overflow: hidden;
        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $bWhite;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay-menu-icon {
  overflow: hidden;
  li {
    float: left;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    a:after {
      opacity: 0;
    }
  }
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:$bWhite;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: opacity .8s ease-out;
}

body.fade-wrapper::after {
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  footer {
    ul {
      width: 180px;
      li {
        font-size: 40px;
      }
    }
  }

  body::after {
    display: none;
  }

}
