.animetion {
    fill: none;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: DASH 4s ease-in 1s forwards;
    -webkit-animation: DASH 4s ease-in 1s forwards;
}

@keyframes DASH {
    0% {
        stroke-dashoffset: 3000;
        fill: rgba(0, 0, 0, 0);
    }
    50% {
        stroke-dashoffset: 2000;
        fill: rgba(0, 0, 0, 0.2);
    }
    70% {
        stroke-dashoffset: 1000;
        fill: rgba(0, 0, 0, 0.4);
    }
    100% {
        stroke-dashoffset: 0;
        fill: rgba(0, 0, 0, 1);
    }
}

@-webkit-keyframes DASH {
    0% {
        stroke-dashoffset: 3000;
        fill: rgba(0, 0, 0, 0);
    }
    50% {
        stroke-dashoffset: 2000;
        fill: rgba(0, 0, 0, 0.2);
    }
    70% {
        stroke-dashoffset: 1000;
        fill: rgba(0, 0, 0, 0.4);
    }
    100% {
        stroke-dashoffset: 0;
        fill: rgba(0, 0, 0, 1);
    }
}
